In [2]:
import pandas as pd
df = pd.read_csv('data/used_cars.csv')

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [5]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [3]:
df.dropna(thresh=len(df)*0.5, axis=1, inplace=True)

In [4]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [5]:
df.drop(['clean_title'], axis=1, inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [8]:
df = pd.get_dummies(df, columns=['brand', 'fuel_type','transmission','accident',])

In [10]:
df.to_csv('used_cars_clean.csv', index=False)

In [11]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Columns: 135 entries, model to accident_None reported
dtypes: bool(128), int64(1), object(6)
memory usage: 720.5+ KB

,model,model_year,milage,engine,ext_col,int_col,price,brand_Acura,brand_Alfa,brand_Aston,...,transmission_Manual,"transmission_Manual, 6-Spd",transmission_SCHEDULED FOR OR IN PRODUCTION,transmission_Single-Speed Fixed Gear,transmission_Transmission Overdrive Switch,transmission_Transmission w/Dual Shift Mode,transmission_Variable,transmission_–,accident_At least 1 accident or damage reported,accident_None reported
0,Utility Police Interceptor Base,2013,"51,000 mi.",300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,Black,Black,"$10,300",False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,Palisade SEL,2021,"34,742 mi.",3.8L V6 24V GDI DOHC,Moonlight Cloud,Gray,"$38,005",False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,RX 350 RX 350,2022,"22,372 mi.",3.5 Liter DOHC,Blue,Black,"$54,598",False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,Q50 Hybrid Sport,2015,"88,900 mi.",354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,Black,Black,"$15,500",False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,Q3 45 S line Premium Plus,2021,"9,835 mi.",2.0L I4 16V GDI DOHC Turbo,Glacier White Metallic,Black,"$34,999",False,False,False,...,False,False,False,False,False,False,False,False,False,True